body {
    font-family: Open Sans Condensed, serif ;
    padding: 20px 60px;
}

a {
    text-decoration: none;
    color: black;
}

* {
    box-sizing: border-box;
/*    align lines and display padding and margins*/
}